<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <title>Vue Calculate Product</title>
</head>
<body>
  <div id="vue-test" class="container" >
    <form action=""  @submit='validateForm'>

      <div class="errors-list">
        <div class="error" v-for='error in formErrors'>{{ error }}</div>
      </div>

      <div class="form-group">
        <label for="">Username</label>
        <input type="text" name="username" class="form-input" v-model='username'>
      </div>

      <div class="form-group">
        <label for="">Subject</label>
        <input type="text" name="subject" class="form-input"  v-model='subject'> 
      </div>

      <div class="form-group">
        <label for="">Message</label>
        <textarea name="message" class="form-input" v-model='message'></textarea>
      </div>

      <div class="form-group">
        <input type="submit" class="send-button" value="Send">
      </div>
    </form>
  </div>

  <script src="js/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#vue-test',
      data: {
        formErrors: [],
        username: null,
        subject: null,
        message: null,
        maxChars: 10
      },
      methods: {
        validateForm: function(e) {
          e.preventDefault();
          this.formErrors = []; // Empty Error To Start Fresh

          // [1] Check If Username Is Empty
          if(!this.username) {
            this.formErrors.push('Username Cant Be Empty');
          }

          // [2] Check If Subject Is Empty
          if(!this.subject) {
            this.formErrors.push('Subject Cant Be Empty');
          }

          // [3] Check If Message Is Empty
          // في مشكله هنا انك تعمل مسافه وانتر هتلاقي مش بيطلع ايررور
          if(!this.message) {
            this.formErrors.push('Message Cant Be Empty');
          }

          // [4] Check Username Characters Count => Write 10 Only
          if(this.username && this.username.length > this.maxChars) {
            this.formErrors.push(`Username Cant Be More Than ${this.maxChars} Characters`);
          }
        
          // [5] If No Errors Return True
          if(!this.formErrors.length) {
            return true;
          }
        }
      }
    });
  </script>
</body>
</html>